@media(min-width: 1024px) {
    
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-image: url("jr-korpa-stwHyPWNtbI-unsplash.jpg");
        background-size: cover;
        background-position: center;
    }
    
    .main-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-image: url("ethan-hu-Njo3mr95vn8-unsplash.jpg");
        background-size: cover;
        background-position: center;
        padding: 50px;
        gap: 1rem;
    
    
    }
    
    .p-div {
        text-align: center;
        color: white;
    
    }
    
    .p-div h1 {
        font-size: 50px;
        font-weight: bold;
        color: whitesmoke;
    
    }
    
    .search {
        text-align: center;
    
    
    }
    
    .search input {
        width: 50%;
        outline: none;
        padding: 7px;
    }
    
    .search button {
        cursor: pointer;
        width: 15%;
        padding: 7px;
        border-radius: 7px;
    }
    
    
    
    /* .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        width: 90px;
        height: 90px;
    } */
    
    #img-disp {
        margin-left: 60px;
        width: 50%;
        height: 50%;
        position: relative;
        border-radius: 5px;
        margin-right: 7px;
        
    }
    
    .contents {
        text-align: center;
        font-size: large;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 15px;
        width: 90%;
        margin: 30px;
        color: black;
        row-gap: 1rem;
        column-gap: 1rem;
        border-radius: 15px;

        
    
    }

    
   
    
    #title {
        text-align: center;
        font-style: oblique;
        font-weight: bold;
    }
    
    
    
    .movie {
       
        margin: 30px;
        padding: 7px;
        border-radius: 15px;
        background-color: white;
        /* background-color: transparent; */
    
    
    }
    .movie:hover{
        transform: scale(1.2);

    }
    .movie:not(:hover){
        transform: scale(1);
    }
    
}

